<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnectionString"
         connectionString="Server=DESKTOP-20VIBLO\SQLEXPRESS; Database =KoreanMetroShopDb;Trusted_Connection=True;"
         providerName="System.Data.SqlClient"/>
    <add name="SecondaryConnectionString"
         connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=KoreanMetroShopDb;Data Source=DESKTOP-R2V3N5B"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="currencyServerEndpoint" value="http://192.168.1.2"/>
    <add key="qrCodesOutputDirectory" value="C:\Users\Zhanibek\Desktop\\qr-codes"/>
  </appSettings>
</configuration>